<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-body">
<div class="panel-body"><h1 align="center" style="color: #fff;">

Reservacion



<%= render 'form1', reserva: @reserva %>


<%= link_to 'Back', userreservacions_path %>