<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well"><h1>Editing Promocione</h1>

<%= render 'form', promocione: @promocione %>

<%= link_to 'Show', @promocione %> |
<%= link_to 'Back', promociones_path %>
</div>
</div>
</div>
</div>