<div class="container text-center">
  <h3>Bares</h3><br>
  <div class="row">
  <div class="panel panel-default">
  <div class="panel-body">
  <div class="col-sm-1">
  </div>
    <div class="col-sm-4">
      <img src="<%= image_path("md.jpg") %>" class="img-responsive" style="width:100%" alt="Image">
      <p>Mam치 Dolores</p>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <p>"Mam치 Dolores" es un Grill & Bar muy reconocido en la Ciudad de Dolores Hidalgo, si estas buscando un lugar donde pasar un buen rato da click abajo</p>
      </div>
      <div class="well">
        <p><a href="<%= informacion_path %>">M치s Informaci칩n...</a></p>
      </div>
    </div>
    </div>
    </div>
  </div>
  <div class="row">
  <div class="panel panel-default">
  <div class="panel-body">
  <div class="col-sm-1">
  </div>
    <div class="col-sm-4">
      <img src="<%= image_path("ter.png") %>" class="img-responsive" style="width:100%" alt="Image">
      <p>La Terraza</p>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <p>"La Terraza" Bar muy reconocido en la Ciudad de Dolores Hidalgo, si estas buscando un lugar donde pasar un buen rato da click abajo</p>
      </div>

      </div>
    </div>
    </div>
  </div>
  <div class="row">
  <div class="panel panel-default">
  <div class="panel-body">
  <div class="col-sm-1">
  </div>
    <div class="col-sm-4">
      <img src="<%= image_path("1.jpg") %>" class="img-responsive" style="width:100%" alt="Image">
      <p>La Pisteria</p>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <p>"La Pisteria" es un bar-antro muy reconocido en la Ciudad de Dolores Hidalgo, si estas buscando un lugar donde pasar un buen rato da click abajo</p>
      </div>
      </div>
    </div>
    </div>
  </div>
</div><br>
