<div class="panel-group">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <div class="panel panel-default">
          <div class="panel-body"><h2 align="justify">Si quieres formar parte de los bares que se mostraran en esta pagina
        déjanos tus datos en el siguiente formulario y en cuanto podamos nos pondremos en contacto para ver como podemos
          agregar tu bar entre nuestras publicaciones.
        </h2> </div>
      </div>
      <div class="panel panel-default">
        <center>  <div class="panel-body"><h4 align="justify">
          <table>
            <tbody>
            <tr>
              <td>Nombre del Bar</td>
              <td><input class="form-control" type="text" placeholder="Mamá Dolores" ></td>
            </tr>
            <tr>
              <td>Dirección del Bar</td>
              <td><input class="form-control" type="text" placeholder="Principal 27" ></td>
            </tr>
            <tr>
              <td>Nombre del Dueño</td>
              <td><input class="form-control" type="text" placeholder="Miguel" ></td>
            </tr>
            <tr>
              <td>Numero de Teléfono</td>
              <td><input class="form-control" type="tel" placeholder="4181811512" ></td>
            </tr>
            <tr>
              <td></td>
              <td><button type="submit" class="btn btn-default">Enviar</button></td>
            </tr>
            </tbody>
          </table>
        </h4> </div></center>
      </div>
    </div>
    <div class="col-sm-4">
      <div id="im" class="imagen_logo">
        <%= image_tag "2.jpg" %>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>