<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-body">
<div class="panel-body"><h1 align="center" style="color: #fff;">

Nuevo Evento

</h1></div>
</div>
</div>
<center>
<%= render 'form', evento: @evento %>

<%= link_to 'Back', eventos_path %>
</center>
