<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well"><h1>Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
</div>
</div>
</div>
</div>