<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-body">
<div class="panel-body"><h1 align="center" style="color: #fff;">


<h1>New Reservacion</h1>

<%= render 'form', reservacion: @reservacion %>

<%= link_to 'Back', reservacions_path %>
