// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
	width: 100%
}


body{
    background-color:#474747;
}

a {
  color: #B2B2B2;

  &:visited {
    color: #c8c8c8;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}


h1{
  font-size: 45px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color:black;
  margin-bottom: 40px;
  color: #000;
  text-shadow: 0 2px 3px #555555;
  font-family: Tahoma;
}


.container{
  width: 100%;
  margin: 0 auto;
  margin-top:50px;
}

#map_container{
  position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
#vista{
font-family: Lucida Calligraphy;
  color:#D78A4C
}