
<div class="panel-group">
  <div class="row">
  <div class="col-sm-3"></div>
    <div class="col-sm-6">
    <div class="panel panel-default">
    <div class="panel-body">
<h1 align="center">Editando Menú</h1>

<%= render 'form', ofrece: @ofrece %>

<%= link_to 'Show', @ofrece %> |
<%= link_to 'Back', ofreces_path %>

</div>
</div>
    </div>
<div class="col-sm-3"></div>
  </div>
</div>
